body
{
    padding: 0px;
    margin: 0px;
}
*
{
   padding: 0px;
   margin: 0px; 
}
.content
{
    width: 100%;
    min-height: 100%;
    background: url(../img/bg.jpg) fixed center center no-repeat;
    background-size: cover;
    padding: 50px;
}
.content .content1
{
    width: 90%;
    min-height: 100%;
    margin: auto;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
}

/*****************************************************************************************/
/****************************** header ***************************************************/
/*****************************************************************************************/
.header img
{
   width: 50%;
   height: 60px;
}
.header input
{
    margin-top: 20px;
}


/*****************************************************************************************/
/****************************** navbar ***************************************************/
/*****************************************************************************************/
.navbar
{
    background-color: #6c207e;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover
{
   background-color: #6c207e; 
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
    background-color: purple
}
.navbar-inverse .navbar-nav>li>a
{
    font-size: 19px;
}
ul.dropdown-menu
{
    background-color: #6c207e;
}
ul.dropdown-menu li a
{
    color: white;
}
dropdown-menu li a:hover
{
    background-color: black;
}



/*****************************************************************************************/
/****************************** slider ***************************************************/
/*****************************************************************************************/

.sec
{
    display: inline-block;
}
/*#myslide .item img
{
    width: 100%;
    height: 400px;
}*/

.content .content1 .slider
{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
.content .content1 .slider img
{
    width: 100%;
    height: 100%;
}



.login-wrap
{
    width: 50%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    clear: both;
    position: relative;
}
.login-wrap h4
{
    color: white;
    float: left;
    margin-left: 20px;
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
}
.login-wrap h4.act1
{
    color: #6c207e;
    transition: all 0.5s ease-in-out;
}
.login-wrap h4.act1:after
{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #6c207e !important;
    transition: all 0.5s ease-in-out;
}
.login-wrap .login
{
    clear: both;
    color: white;
    padding-top: 20px;
    position: absolute;
    width: 100%;
}
.login-wrap .login input
{
    border-radius: 30px;
    height: 40px;
    background-color: rgba(255,255,255,0.3);
    border: none;
    color: white;
}
.login-wrap .login input[type=submit]
{
    background-color: #6c207e;
    color: white;
}

.login-wrap .signin
{
    clear: both;
    color: white;
    padding-top: 20px;
    position: absolute;
    width: 100%;
    display: none;
}
.login-wrap .signin input
{
    border-radius: 30px;
    height: 35px;
    background-color: rgba(255,255,255,0.3);
    border: none;
    color: white;
}
.login-wrap .signin input[type=submit]
{
    background-color: #6c207e;
    color: white;
}
.login-wrap .hr
{
    width: 95%;
    height: 2px;
    background-color: white;
    margin-top: 30px;
}
.login-wrap a
{
    text-decoration: none;
    color: white;
    margin-top: 20px;
}


/*****************************************************************************************/
/****************************** today film ***********************************************/
/*****************************************************************************************/
.todayfilm
{
    width: 100%;
    font-size: 15px;
    color: white;
    min-height: 50px;
    padding: 50px;
    margin-top: 30px;
}


/*****************************************************************************************/
/****************************** now in cinema ********************************************/
/*****************************************************************************************/
.now
{
    width: 100%;
    min-height: 400px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    padding: 50px;
    color: white;
}
.now .col-md-3,.now .col-sm-6,.now .col-xm-12
{
    height: 570px;
    margin-top: 20px;
}
.now .col-md-3 img,.now .col-sm-6 img,.now .col-xm-12 img
{
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.now .col-md-3 .dis1,.now .col-sm-6 .dis1,.now .col-xm-12 .dis1
{
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
}
.now .col-md-3 .dis,.now .col-sm-6 .dis,.now .col-xm-12 .dis
{
    width: 100%;
    background-color: #6c207e;
    color: white;
    padding: 20px;
    min-height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
a
{
    text-decoration: none;
}
.now a img:hover
{
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.rating {
            color: #a9a9a9;
            margin: 0;
            padding: 0;
        }

        ul.rating {
            display: inline-block;
        }

        .rating li {
            list-style-type: none;
            display: inline-block;
            padding: 1px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            font-size: 20px;
        }

        .rating .filled {
            color: white;
        }

.search
{
    width: 100%;
}
.search  h3
{
    color: white;
}
.search input
{
    width: 60%;
    border-radius: 10px;
}


.footer
{
    width: 100%;
    display: inline-block;
    background-color: #6c207e;
    color: white;
    margin-top: 50px;
    padding: 20px;
}
.footer a
{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
}
.footer a:hover
{
    background-color: white;
    color: #6c207e;
    transition: all 0.5s ease-in-out;
}

.discription
{
    color: white;
    padding: 20px;
}
.discription h3
{
    float: left;
}
.discription h4
{
    clear: both;
}
.discription button
{
    padding: 10px 30px;
    color: white;
    background-color: #6c207e;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 100px;
}

/****************************** nav tab*************************/
.times
{
   padding: 10px;
    width: 100%;
    display: inline-block;
    color: white;
    
}
.times div.drop
        {
            padding: 10px;
            background-color: black;
            display: none;
            color: white;
            margin: 0px;
        }
.times h3
        {
            padding: 10px;
            background-color: #6c207e;
            cursor: pointer;
            margin: 0px;
            border: 1px solid white;
            color: white;
        }
.times h3 span
{
    float: right;
    margin-right: 20px;
}
.times button
{
    padding: 5px 15px;
    border: none;
    background-color:#6c207e;
    color: white;
    font-size: 16px;
    
}
.times button h2
{
    font-size: 20px;
}

/****************** select ***************************/
.select
{
    color: white;
}
.select select
{
    width: 80%;
    height: 50px;
    padding: 10px;
    margin: 10px;
    color: gray;
    font-size: 20px;
}
.select button
{
    color: white;
    background-color: #6c207e;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
}
.act
{
    background-color:#6c207e;
}


/*********************** cinema *****************/
.cinema
{
    display: inline-block;
    width: 100%;
    /*overflow: scroll;*/
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.cinema table
{
    margin: auto;
    width: 90%;
    margin: auto;
}
.cinema table tr td
{
    border: 1px solid #6c207e;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 0px;
    cursor: pointer;
}
.cinema table tr td.none
{
    background-color: transparent;
}
.cinema table tr td.none:hover
{
    background-color: transparent;
}
.cinema table tr td a
{
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}
.cinema table tr td:hover
{
    background-color: #6c207e;
}
.cinema table tr td.select
{
  background-color: #EEE;
    color: black;
    cursor: not-allowed;
}
.cinema span
{
    display: inline-block;
    margin-left: 10px;
    margin-right: 15px;
}
.cinema h4
{
    float: left;
    margin: 10px;
}
.cinema .unavaliable
{
    background-color: #EEE;
    width: 30px;
    height: 30px;
    border: 1px solid #6c207e;
}
.cinema .avaliable
{
    border: 1px solid #6c207e;
    width: 30px;
    height: 30px;
}
.cinema .seat
{
    background-color: #6c207e;
    width: 30px;
    height: 30px;
    border: 1px solid #6c207e;
}
.cinema .choose
{
    display: inline-block;
    margin: auto;
}
.cinema .screen
{
    width: 90%;
    margin: auto;
    height: 45px;
    border-top-left-radius: 50px; 
    border-top-right-radius: 50px;
    background-color: #6c207e;
    text-align: center;
    color: white;
}

.aboutus
{
    color: white;
}
.aboutus h2
{
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.contactus
{
    color: white;
}
.contactus h2
{
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.contactus input[type=submit]
{
    background-color: #6c207e;
    color: white;
    padding: 10px;
    font-size: 19px;
    height: 45px;
}



/*****************************************************************************************/
/****************************** media query **********************************************/
/*****************************************************************************************/
/*smart phones*/
@media (max-width:767px)
{
    .content
    {
       padding: 10px; 
    }
    .content .content1
    {
        width: 96%;
        padding: 0px;
        
    }
    .search
    {
        width: 100%;
    }
    .search h3
    {
        font-size: 15px;
    }
    .footer a i
    {
       font-size: 15px; 
    }
    .footer a 
    {
        padding: 4px;
    }
    .footer a:hover
{
    background-color: transparent;
    color: white;
}
    .cinema
    {
        overflow: scroll;
    }
    .cinema h4
{
    clear: both;
    }
    .login-wrap
    {
        width: 100%;
    }
    .login-wrap h4
    {
        font-size: 16px;
    }
    .rating li
    {
        font-size: 18px;
    }
    
}
/*small screen*/
@media (min-width:768px) and (max-width:991px)
{
    
     .cinema h4
{
    clear: both;
}
}
/*medium screen*/
@media (min-width:992px) and (max-width:1199px)
{
    
}
/*large screen*/
@media(min-width:1200px)
{
    
}